body {
    font-family: 'Libre Baskerville', serif;
    background-image: url("../background_body.jpeg");
} 
 
html {
    position: relative;
    min-height: 100%;
}
  
main {
    margin: 80px 0;
}
  
.block {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
}
  
.block-header {
    color: rgb(53, 97, 148);
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

#logo {
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    font-weight: bold;
    color: rgb(247, 245, 235);
    background: rgb(53, 97, 148);
}

.navbar-default .navbar-nav > li > a:hover {
    color: rgb(53, 97, 148);
}
  
.navbar {
    background: white;
    border: none;
}

@media only screen and (max-width: 767px) {
    .navbar-header {
      background-color: rgb(53, 97, 148);
    }
}



.connect-header {
    font-size: 25px;
}
  
.connect-photo {
    width: 55px;
    height: 55px;
}
  
#images {
    padding-top: 15px;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #666;
}
  
.text-muted-footer {
    margin-top: 15px;
    color: rgb(255, 255, 255);
}
  
.two-toned-footer-color {
    height: 6px;
    padding-top: 3px;
    background-color: rgb(247, 247, 247);
}


/* about me page css */
.about-me-header {
    margin-bottom: 33px;
    font-family: 'Libre Baskerville', serif;
    font-size: 32px;
    font-weight: bold;
    color: rgb(53, 97, 148);
}
  
#about-image {
    float: left;
    width: 200px;
    margin: 0 20px 10px 0;
}

/* portfolio page css */
.port-image {
    margin: 20px auto;
}

/* contact page css  */
.form-control {
    border-radius: 0;
    min-width: 100%;
    max-width: 100%;
}
  
.submit-btn {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
    background-color: rgb(53, 97, 148);
    border: 0;
}
  
.submit-btn:hover {
    opacity: .7;
}  

img{
  width: 200px;
  height: 300px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
}

